* {
rgin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333;
}
body {
    /* font-family: Graphik LCG;  */
}
h1 {
    font-size: 52px;
    color: #333;
    line-height: 85px;
    font-weight: bold;
}
h2 {
    font-size: 45px;
    line-height: 74px;
    color: #333333;
}
h3 {
    font-size: 22px;
    color: #333;
    font-weight: bold;
}
h4 {
    font-size: 18px;
    color: #333;
    line-height: 30px;
    font-weight: medium;
}
h5 {
    font-size: 14px;
    color: #333;
    font-weight: medium;
}
h6 {
    font-size: 14px;
    color: #828282;
    font-weight: medium;
}
p {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    font-weight: medium;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto;
}
.nav_left {
    cursor: pointer;
}
.nav_left, .nav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_left img {
    margin-right: 15px;
}
.nav_right {
    width: 50%;
    flex-wrap: wrap;
}
.nav_right a {
    margin-right: 15px;
    margin-top: 10px;
    color: #333;
    transition: 0.3s;
}
.nav_right:nth-last-child() {
    margin: 0;
}
.nav_right a:hover {
    color: #5C9FF9;
}
.nav_right a:nth-last-child(1) {
    background: linear-gradient(270deg, #5C9FF9 -16.34%, #0058DC 97.2%);
    border-radius: 3px;
    margin-right: 0;
    padding: 15px 25px;
    opacity: 0.6;
    color: #fff;
}   
.nav_right a:nth-last-child(1):hover {
    opacity: 1;
}

header {
    background: url(../img/header_updated_background.png) no-repeat ;
    background-size: cover; 
}
.container {
    width: 60%;
    margin: 0 auto;
}
header .container {
    position: relative;
}
.header_text {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 320px;
}

.header_text h4 {
    margin-top: 18px;
    font-weight: normal;
    width: 40%;
}
.header_text h1 {
    width: 40%;
    min-width: 480px;
}


.header_slider {
    margin-top: 100px;
    padding-bottom: 320px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.header_slider_images {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.header_slider_images div {
    height: 10px;
    width: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #333333;
    border-radius: 50%;
    background: #fff;
    transition: 0.3s;
    cursor: pointer;
}
.header_slider_images img {
    cursor: pointer;
    margin-top: 10px;
}
.header_slider_images div:hover {
    /* background: linear-gradient(273.45deg, #5C9FF9 -16.34%, #0058DC 97.2%), #FFFFFF; */
    border: none;
    background: #5C9FF9;
}
.header_slider_images img {
    margin-right: 40px;
}

.more_info {
    position: relative;
    background: linear-gradient(284.96deg, #5C9FF9 -16.34%, #0058DC 97.2%);
    min-height: 20px;
    padding: 15px 100px 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}
.more_info:hover {
    opacity: 1;
}
.more_info p {
    font-weight: bold;
    color: #fff;
}
.more_info p::after {
    position: absolute;
    content: url(../img/nav_arrow.png);
    top: 16px;
    right: 15px;
}
.mouse {
    display: flex;
    margin: 0 auto;
    padding-bottom: 60px;
    cursor: pointer;
}
.who_we_are .container h2:nth-child(1) {
    margin-top: 100px;
}
.who_we_are p {
    font-size: 18px;
}
.who_we_are_text {
    min-width: 300px;
    max-width: 800px;
}

.svg_cards, .svg_cards div {
    display: flex;
}
.svg_cards {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.svg_cards div {
    align-items: center;
    margin-top: 20px;
} 
.svg_cards div p {
    margin-left: 21px;
    margin-right: 21px;
    max-width: 120px
}
.who_we_are .more_info {
    margin-top: 50px;
    border: 1.3px solid #005DE8;
    background: rgba(0, 0, 0, 0);
    margin-bottom: 80px;
}
.who_we_are .more_info p {
    color: #005DE8;
}

.crpt_trade {
    background: url(../img/crpt_trade_totally_accurate_bckg.png) no-repeat;
    background-size: cover;
}
.crpt_trade h2 {
    padding-top: 100px;
    margin-bottom: 20px;
    color: #fff;
}
.crpt_trade .crpt_trade_text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    max-width: 500px
}
.crpt_trade .more_info {
    border: 1.3px solid #fff;
    background: rgba(0, 0, 0, 0);
    margin-bottom: 80px;  
}
.crpt_trade .more_info p {
    color: #fff;
}

.main_directions_and_last_projects_sect {
    padding-bottom: 100px;
}
.main_directions_sect h2 {
    margin-top: 60px;
}
.main_directions_sect_text {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 800px;
    font-size: 18px;
    line-height: 34px;
    color: #333333;
}
.main_directions_cards_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.main_directions_card {
    width: 240px;
    height: 240px;
    box-shadow: 0px 0px 33px 1px #EDEDED;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: rgba(61,135,239, 0);
    transition: 0.3s;
    cursor: pointer;
}
.main_directions_card:hover {
    background: rgba(61,135,239, 0.7);
}
.main_directions_card img {
    opacity: 0.7;
    transition: 0.3s;
}
.main_directions_card img:hover {
    opacity: 1;
}
.main_directions_card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.last_projects_cards_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.last_projects_cards_block p {
    color: #fff;
    text-align: center;
}
.last_projects_card {
    width: 300px;
    height: 500px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.last_projects_card img {
    cursor: pointer;
} 
.ikra {
    background: url(../img/ikra_background.png) no-repeat;
}
.goa {
    background-image: url(../img/GOA_background.png);
}
.music {
    background: url(../img/music_background.png) no-repeat;
}

.last_projects_card_text_p {
    font-size: 18px;
    max-width: 200px;
}
.cases {
    position: relative;
    margin-top: 30px;
    font-weight: bold;
    color: #005DE8;
    cursor: pointer;
}
.cases::after {
    content: url(../img/Arrow21GREAT.svg);
    position: absolute;
    top: 3px;
    margin-left: 10px;
}



@media screen and (max-width: 1450px) {
    .svg_cards, .last_projects_cards_block, .main_directions_cards_block  {
        justify-content: center;
    }
    .main_directions_card, .svg_cards div, .last_projects_card {
        margin-left: 20px;
        margin-right: 20px;
    }
}